* {
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 50%;
}


h1 {
  background: black;
  color: white;
  padding: 0.2rem 1rem;
  max-width: 50%;
}

h2 {
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-block;
}

.container {
  padding: 1rem;
}

#form {
  margin-bottom: 0.5rem;
}
#form .group {
  display: block;
  margin-bottom: 0.5rem;
}
#form label {
  display: inline-block;
  width: 3rem;
  font-size: 0.9rem;
}
#form input:hover,
#form input:focus {
  outline-style: solid;
  outline-width: thin;
  outline-color: black;
}
#form input[type=text] {
  width: 18rem;
}
#form input[type=submit] {
  color: white;
  background: orange;
  font-size: 0.8rem;
  padding: 5px 15px;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#form input[type=submit]:hover,
#form input[type=submit]:focus {
  color: gray;
  background: yellow;
  outline-color: gray;
}

#form .error {
  display: none;
}
#form .error.active {
  font-size: 0.8rem;
  color: gray;
  margin-left: 0.5rem;
  display: inline;
}

#result p {
  font-size: 1.2rem;
}

#map {
  height: 100%;
  grid-row: 4;
}
