body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: hsl(0, 0%, 95%);
}

.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.container * {
  box-sizing: border-box;
}

.form {
  width: 50%;
  min-width: 18rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: white;
}

.form-group,
.submit-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.form-group * {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
.form-group label {
  flex: 1 1 1rem;
}
.form-group input {
  flex: 2 1 1rem;
}

.form-error {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form-error .padding {
  min-width: 10rem;
  height: 0;
  flex: 1 1 1rem;
}
.form-error .error {
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.8rem;
  /* Solves flex wrap doesn't wrap */
  white-space: nowrap;
  flex: 2 1 1rem;
  color: hsl(345, 50%, 50%);
}

.submit-wrapper {
  flex-direction: row-reverse;
}
.submit-wrapper input {
  height: 1.75rem;
  font-size: 1rem;
  border-style: none;
}
