/* A block contains inline elements */

#h-block-inline p,
#h-block-inline div {
  text-align: center;
}

/* A block contains a block */

#h-block-block .box div {
  margin: 0 auto;
  width: 5rem;
  background: yellow;
}

/* A block contains blocks */

#h-block-blocks .box.row-inline {
  text-align: center;
}
#h-block-blocks .box.row-inline div {
  display: inline-block;
}

#h-block-blocks .box.row-flex {
  display: flex;
  justify-content: center;
}

#h-block-blocks .box.col-inline div {
  margin: 0 auto;
  width: 5rem;
  background: yellow;
}

#h-block-blocks .col-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Single line - a block contains inline elements */

#v-block-inline .box {
  padding: 1rem 0;
}

#v-block-inline-2 .box {
  line-height: 3rem;
}

/* Multiple lines - table */

#v-multi-line .table-elem {
  width: 100%;
  height: 6rem;
}

#v-multi-line .table-display {
  width: 100%;
  display: table;
  height: 6rem;
}
#v-multi-line .table-display div {
  display: table-cell;
  vertical-align: middle;
}

/* Multiple lines - flex */

#v-multi-line-2 .box {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Multiple lines - ghost */

/* #v-multi-line-4 .box {
  position: relative;
} */
#v-multi-line-3 .box::before {
  height: 6rem;
  width: 1%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
#v-multi-line-3 .box div {
  width: 98%;
  display: inline-block;
  vertical-align: middle;
}

/* Multiple lines - height known */

#v-multi-line-4 .box {
  position: relative;
  height: 6rem;
}
#v-multi-line-4 .box div {
  position: absolute;
  top: 50%;
  margin-top: -3%;
  /* 600px (parent width) * 3% = 18px */
  background: yellow;
}

/* Multiple lines - height unknown */

#v-multi-line-5 .box {
  position: relative;
  height: 6rem;
}
#v-multi-line-5 .box div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: yellow;
}

/* Fixed width and height */

#hv-rel-abs-1 .box {
  position: relative;
  height: 6rem;
}

#hv-rel-abs-1 .box div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 3rem;
  margin: -1.5rem 0 0 -150px;
  background: yellow;
}

/* Unknown width and height */

#hv-rel-abs-2 .box {
  position: relative;
  height: 6rem;
}

#hv-rel-abs-2 .box div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Flex */

#hv-flex .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}
#hv-flex .box div {
  width: 50%;
}

/* Grid */

#hv-grid .box {
  display: grid;
  height: 6rem;
}
#hv-grid .box div {
  margin: auto;
  width: 50%;
}
