/* Flex */

#flex .box {
  display: flex;
}
#flex .box span:last-of-type {
  margin-left: auto;
}

/* Float and clearfix */

#float .box span:first-of-type {
  float: left;
}
#float .box span:last-of-type {
  float: right;
}
#float .box::after {
  content: "";
  display: block;
  clear: both;
}

/* table */

#table .box {
  width: 100%;
  border-collapse: collapse;
}
#table .box td:first-of-type {
  text-align: left;
}
#table .box td:last-of-type {
  text-align: right;
  width: 100%;
}
